/**************************************** TAG SELECTORS ****************************************/
body{
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif; 
}

h1{
    color: #11999E;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Sacramento', cursive;
    font-size: 5.625em;
    font-weight:normal;
    line-height: 100%;
}

h2{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: #EAF6F6;
    border-width: 10px;
    width: 5%;
    margin: 100px auto;
}

p{
    line-height: 2;
}

a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color: #EAF6F6;
}

/**************************************** CLASS SELECTORS ****************************************/



.top-container{
    margin: 0 auto;
    padding-top: 145px;
    background-color: #E4F9F5;
    position: relative;
    width:100%;
    height: 100%;
    overflow: hidden;
}

/*
.middle-container{
}
*/

.profile{
    line-height: 2;
    margin: 100px 0;
}

.p1{
    width: 30%;
    margin: 0 auto;
}
.profile-pic{
    width: 200px;
    height: 200px;
}

.web-skill{
    float: left;
    min-width: 200px;
    max-width: 250px;
    margin-right: 30px;
}

.ux-skill{
    float: right;
    min-width: 200px;
    max-width: 250px;
    margin-left: 30px;
}

.skill-row{
    width: 50%;
    padding: 100px 0;
    margin: auto;
    text-align: left;
    line-height: 2;
}

.pro{
    text-decoration: underline;
}

.top-cloud{
    width: 150px;
    height: 150px;
    position: absolute;
    right: 370px;
    top: 35px;
    -webkit-animation: linear infinite;
    -webkit-animation-name: runright;
    -webkit-animation-duration: 10s;
}
  @-webkit-keyframes runright {
    0% {
      right: 25%;
    }
    50% {
      right: 30%;
    }
    100% {
      right: 25%;    
    }
  }

.bottom-cloud{
    max-width: 150px;
    max-height: 150px;
    position: absolute;
    left: 330px;
    bottom: 353px;
    -webkit-animation: linear infinite;
    -webkit-animation-name: runleft;
    -webkit-animation-duration: 11s;
}
@-webkit-keyframes runleft {
    0% {
      left: 25%;
    }
    50% {
      left: 30%;
    }
    100% {
      left: 25%;    
    }
  }

.mountains{
    max-width: 100%;
}

.discription-last{
    width: 30%;
    margin: 40px auto 60px;
}

.contact-me{
    margin: 100px auto;
}

.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

/******************** Button ********************/

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

/******************** ID SELECTORS********************/



/******************** Responsive ********************/


@media screen and (min-width: 320px) and (max-width: 567px){



    h1{
        font-size: 3.75rem;
    }

    h2{
        font-size: 2rem;
        padding-bottom: 5px;
    }

    h3{
        font-size: 1rem;
    }
    hr{
        border-width: 10px;
        width: 15%;
    }
    /* .top-container{
        position: relative;
        height: 75vh; 
     } */
    .top-cloud{
        display: none;
    }
    .bottom-cloud{
        display: none;
    }
    /* .mountains{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin-top: auto;
        padding-top: 125px;
        
    } */

    .profile-pic{
        width: 120px;
        height: 120px;
    }

    .p1{
        width: 85%;
        margin: 0 auto;
    }

    .web-skill{
        float: none;
        width: 45%;
        margin: auto;
    }

    .ux-skill{
        float: none;
        width: 45%;
        margin: auto;
    }
    
    .skill-row{
        width: 85%;
        padding: 100px 0;
        margin: auto;
        text-align: center;
        line-height: 2;
    }

    .discription-last{
        width: 85%;
        margin: 30px auto 60px;
    }
    .btn{
        font-size: 1rem;
    }



}